<div class="col-md-12 footer">
  <center>
    <p class="col-md-6 center text-center">
      <%= link_to 'Home', '/' %> |
      <%= link_to 'Sobre o Sistema', 'sobre' %> |
      <%= link_to 'Ajuda', 'ajuda' %> |
      <%= link_to 'Contato', 'contato' %>
    </p>
    <p>
      TradeBitcoin SI UFG 2018 © Todos os direitos reservados
    </p>
  </center>
</div>