Ainda inseguro?

<p> Converse com quem já está na Tradebitcoin!!</p>

<p> <%= link_to 'Comunidade no Facebook', 'http://facebook.com' %></p>

<p> <%= link_to 'Grupo no Telegram', 'http://web.telegram.org' %></p>