<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trade Bitcoin</title>
</head>
<body>

<div class="container">
    <div class="col-md-12 text-center">
        <h3>BitCoinTrader</h3>
        <p>Compre e venda bitcoins na maior corretora do Brasil</p>
    </div>

    <div class="col-md-12">
      <p>Para começar, faça seu login!</p>

      <%= link_to 'Cadastrar', 'users/new' %>
    </div>
</div>

</body>
</html>